@import "res/fonts/fonts.css";

.code {
    font-family: JetBrains-Mono;
    background: var(--grey);
    border: 2px solid var(--light-grey);
    border-radius: 5px;
    padding-left: 20px;
    color: var(--lite);
}
.tab {margin-left: 40px}

:root {
    --orange: #ff5800;
    --dark-orange: #f93a00;
    --cyan: #00aae2;
    --dark-cyan: #0074bd;
    --yellow: #fcdf00;
    --lite: #bebebe;
    --lite-grey: #999999;
    --light-grey: #686a6c;
    --grey: #3f3f3f;
    --dark-grey: #212121;
}

body {
    margin: 0px;
    height: 100vh;
    background: var(--dark-grey);
    overflow-y: hidden;
}


#top-bar {
    background-color: var(--dark-cyan);
}
#top-bar > .menu-btn {
    margin: 22px;
    padding: 5px;
    border: none;
    width: 35px;
    height: 35px;

    border-radius: 5px;
    background: transparent/*var(--cyan)*/;
}
#top-bar > .menu-btn > svg {
    width: 100%;
    height: 100%;
    fill: var(--dark-grey);
}
#top-bar h1 {
    display: inline-block;
    margin: 22px;
    margin-left: 0;

    color: var(--dark-grey);
    font-family: Ubuntu;
}
#top-bar h1 > a {
    color: var(--dark-grey);

}
#top-bar h2 {
    margin: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 3px;

    color: var(--dark-grey);
    font-family: JetBrains-Mono;
}


nav, #nav-bar {
    display: flex;
    white-space: nowrap;

    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);

    background-color: var(--grey);
    overflow: hidden;
}
#nav-bar > .nav-content {

    align-items: stretch;
    white-space: nowrap;

    margin-left: 29px;
    margin-right: 29px;

    width: 95.31%;
    overflow-x: scroll;
}

#nav-bar > .nav-content::-webkit-scrollbar {
    display: hidden;
    height: 0;
}

#nav-bar > button {
    margin: 3px;
    border: 2px solid var(--lite-grey);
    border-radius: 100%;

    position: absolute;

    color: var(--lite-grey);
    background: transparent;
    outline: none;

    height: 23px;
    width: 23px;
}
#nav-bar > button:active {
    filter: brightness(75%);
}
#nav-bar > button:disabled {
    filter: brightness(60%);
}

nav a, #nav-bar a {
    line-height: 19px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    margin-left: 25px;

    text-align: center;
    color: var(--lite-grey);
    font-size: 13.5px;
    font-family: "Lucida Console"
}
nav a:hover, #nav-bar a:hover {
    text-decoration: underline;
}


#main-content {
    overflow-y: hidden;
    /* animation: main-fadeDark 0.5s forwards; */
}
#main-content > iframe {
    width:100%;
    height: 84.7vh;
}
#content {
    height: 88.85vh;
    overflow-y: scroll;
}


#side-bar {
	position: absolute;
	top: 81.2px;
	bottom: 0;
	left: -402px; /*-38.4%*/
	right: 0;

	/* Adding padding will mess with the hiding of the sidebar*/
	background-color: var(--grey);
	border-top: 2px solid var(--light-grey);
	border-right: 2px solid var(--light-grey);

	width: 400px;
	/* animation: side-bar-slideIn 0.5s forwards; */
	/* height: 100px; */
}
#side-bar hr {
	border: 1px solid var(--light-grey);
	background: var(--light-grey);
	margin-right: 10px;
	margin-left: 10px;
}

@keyframes side-bar-slideIn {
	from {left: -402px}
	to   {left: 0}
}
@keyframes side-bar-slideOut {
	from {left: 0}
	to   {left: -402px}
}

@keyframes main-fadeDark {
	from {filter: brightness(100%)}
	to   {filter: brightness(15%)}
}
@keyframes main-fadeLight {
	from {filter: brightness(15%)}
	to   {filter: brightness(100%)}
}
